body {
  margin: 0;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 200%;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.lastParagraph {
  margin-bottom: 200px;
}

img {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

table, tr {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 10px;
}

#bottomTable {
  margin-top: 100px;
  margin-bottom: 200px;
}

#educationTable {
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  p {
    font-size: 18px;
  }
}